<section class="about df al-c">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 text-section">
        <h2>About Organizable</h2>
        <p>
          Organizable is a powerful organizational tool designed to help teams
          and individuals streamline their workflows, boost productivity, and
          achieve their goals. With its intuitive interface and robust features,
          Organizable makes it easy to manage customers, tasks, projects, and teams all in
          one place.
        </p>
        <button type="button" routerlink="#" class="btn btn-dark">Register now!</button>
        <br>
      </div>
      <div class="col-12 col-md-12 col-lg-6 image-section">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="placeholder-img df jc-c al-c">
              <img
                src="https://i.postimg.cc/t4q7ysXQ/wallapper.png"
                alt=""
                srcset="
                https://i.postimg.cc/t4q7ysXQ/wallapper.png  480w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 768w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 1200w
                "
                sizes="(max-width: 768px) 100vw, (min-width: 769px) 50vw"
              />
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="placeholder-img df jc-c al-c">
              <img
                src="https://i.postimg.cc/t4q7ysXQ/wallapper.png"
                alt=""
                srcset="
                https://i.postimg.cc/t4q7ysXQ/wallapper.png  480w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 768w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 1200w
                "
                sizes="(max-width: 768px) 100vw, (min-width: 769px) 50vw"
              />
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="placeholder-img df jc-c al-c">
              <img
                src="https://i.postimg.cc/t4q7ysXQ/wallapper.png"
                alt=""
                srcset="
                https://i.postimg.cc/t4q7ysXQ/wallapper.png  480w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 768w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 1200w
                "
                sizes="(max-width: 768px) 100vw, (min-width: 769px) 50vw"
              />
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="placeholder-img df jc-c al-c">
              <img
                src="https://i.postimg.cc/t4q7ysXQ/wallapper.png"
                alt=""
                srcset="
                https://i.postimg.cc/t4q7ysXQ/wallapper.png  480w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 768w,
                https://i.postimg.cc/t4q7ysXQ/wallapper.png 1200w
                "
                sizes="(max-width: 768px) 100vw, (min-width: 769px) 50vw"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
